@charset "UTF-8";
@import "common.css";

/* =======메인css===== */
body {font-family:'S-CoreDream-4Regular'; position:relative; width:100%; height: 100%;}
section {text-align: center;}
section h2 {font-family:'Berlin Sans FB Regular'; text-transform: uppercase; font-size:40px; margin:84px 0 25px;}
section h3 {font-family:'Berlin Sans FB Regular'; text-transform: uppercase; font-size:40px; padding:34px 0 25px;}
section > p, span, #recruitWrap > article > p {font-family: 'S-CoreDream-3Light'; text-transform: uppercase; }

/* sliderWrap */
#slideWrap {width: 100%; height: 780px; overflow:hidden;}
#slideWrap ul {position:relative; width: 100%;}
#slideWrap ul li {position:absolute; top:0; left:0; width: 100%; height: 880px; background: no-repeat center / cover; float:left;}
#slideWrap ul li div {position:absolute; top:320px; left:17%;
                      font-family: 'S-CoreDream-5Medium'; font-size:47px; text-align: left;}

#slideWrap li.active {z-index:999;}

#slideWrap li.slide1 {background-image:url(../images/bg/slide1.jpg); color:#fff;}
#slideWrap li.slide2 {background-image:url(../images/bg/slide2.jpg); color:#fff;}
#slideWrap li.slide3 {background-image:url(../images/bg/slide3.jpg); color:#2c2c2c;}
#slideWrap li.slide4 {background-image:url(../images/bg/slide4.jpg); color:#fff;}


/* slideBtn */
#slideBtn {position:absolute; top:588px; left:calc(50% - 500px); z-index:9999;}
#slideBtn a {float:left; display:block; width: 52px; height: 8px; margin:0 10px; text-indent:-9999px; background:#fff; border-radius:10px;}
#slideBtn a.on {background:#0d3080;}

/* 메인시작 */
/* brandWrap */
#brandWrap {width: 100%; height: 800px; text-align:center;}
#brandWrap > p {font-size:1.7vw; color:#a29a9a; margin-bottom:80px;}

/* brandWrap - article */
#articleWrap {display:flex; justify-content: center; margin:0 auto;}
#articleWrap article {transition:0.5s; position:relative; width: 615px; height: 374px; margin:0 10px; float:left;}
#articleWrap article p {position:relative; z-index:999; padding-top:20px; font-family: 'S-CoreDream-3Light'; color:#fff; font-size:1.3vw; text-shadow: 1px 3px 5px rgba(0, 0, 0, 0.8);}
#articleWrap article a {width: 100%; height: 100%; display:block; padding:93px 0 0;}


#articleWrap .dunkin {background:url(../images/bg/dunkin.jpg) no-repeat 0 -200px; }
#articleWrap .dunkin span {width: 227px; height: 94px; margin:0 auto; display:block; text-indent:-9999px; background: url(../images/logo/dunkin.png) no-repeat;}
#articleWrap .baskin {background:url(../images/bg/baskin.jpg) no-repeat 0 -200px;}
#articleWrap .baskin span {width: 256px; height: 78px; margin:0 auto; display:block; text-indent:-9999px; background:url(../images/logo/baskin.png) no-repeat;}
#articleWrap article span {position:relative; z-index:999;}

/* 로고롤오버 */
#articleWrap article.on::before {content:" "; position:absolute; top:0; left:0; width: 100%; height: 100%; background:rgba(0, 0, 0, 0.2);}


/* aside  */
#popcorn {width: 100%; padding:10px 0;border-bottom: 15px solid; border-image:linear-gradient(90deg, #ed6ea7 0%, #ef9 100%); border-image-slice:1;
          box-sizing: border-box; text-align: center;}
#popcorn .popWrap {width: 100%; margin:0 auto;}
#popcorn img {width: 5%; padding:0 2.5%;}


/* brandNews */
#newsWrap {position:relative; width: 100%; height: 1000px; padding:50px 0; background:#fcc6c6;}
#newsWrap h3 {color:#2f2f2f;}
#newsWrap p {font-size:1.3vw; color:#2f2f2f; }
#newsWrap ul {display:flex; justify-content: center; height: 475px; margin:90px 0 0;}
#newsWrap ul li {width: 400px; height: 470px; margin:0 12.5px; overflow:hidden;}
#newsWrap ul li > a {display:block; opacity:0; width: 100%; height: 110px; margin-top:400px; padding: 23px 56px; box-sizing: border-box;background: #fff; font-size:1.2vw;}


#newsWrap section > a {position:absolute; left:calc(50% - 100px); bottom:200px;
                      width: 200px; line-height: 25px;
                      font-family: 'S-CoreDream-9Black'; color:#2f2f2f; font-size:20px; text-transform:uppercase;}
#newsWrap section > a::after {content:""; position:absolute; top:0; right:0; width: 16px; height: 25px; background:url(../images/btn/morebtn.png) no-repeat;}

/* newbg */
#newsWrap ul li.news1 {background: url(../images/news/article1.jpg) no-repeat 45% 50% / 110%;}
#newsWrap ul li.news2 {background: url(../images/news/article2.jpg) no-repeat 0 20% / 100%;}
#newsWrap ul li.news3 {background: url(../images/news/article3.jpg) no-repeat 50% 0 / 200%;}


/* brandsns시작 */
/* snsWrap */
#snsWrap {width: 100%; height: 100%; padding:50px 0 200px;}
#snsWrap p {font-size:20px;}

#snsTag {display:flex; justify-content: center; margin:21px 0 70px;}
#snsTag span {float:left; display:block; width: 135px; line-height: 30px; margin:5px; border-radius: 20px; background:#2869fe; font-size:17px; text-transform: uppercase; color:#fff;}

#sns_icon {display:flex; justify-content: center; height: 58px; }
#sns_icon a {float:left; display:block; text-indent:-9999px; width: 58px; height: 58px; margin-right:20px; background:url(../images/logo/sns.png) no-repeat;}
#sns_icon a.twit {background-position: -81px 0;}
#sns_icon a.insta {background-position: -161px 0;}
#sns_icon a.youtube {background-position: -242px 0; margin-right:0;}

#youtube {position:relative; width: 100%; margin:70px 0 0;}
#youtube .thumbs {width: 1179px; height: 238px; margin:0 auto; overflow:hidden;}
#youtube ul {width: 1657px; height: 238px; margin-left:-25px; }
#youtube ul li {float:left; margin:27px 25px;}
#youtube ul li img {width: 328px; height: 184px; box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5); }
#youtube ul li:nth-of-type(2) img {width:423px; height:238px; margin-top:-27px;}


#ytbBtn a {position:absolute; top:80px; width: 35px; height: 53px; display:block; text-indent:-99999px;}
#ytbBtn a.prev {left: 7%; background: url(../images/btn/ytbLeft.png) no-repeat;}
#ytbBtn a.next {right: 7%; background: url(../images/btn/ytbRight.png) no-repeat;}


/* recruit */
#recruitWrap {width: 100%; height: 878px; margin:0 auto; background: #2754b9; padding-top:50px;}
#recruitWrap h3 {color:#fff;}
#recruitWrap > p {font-size:20px; color:#fff;}
#recruitWrap > div {display:flex; justify-content: center; height:400px; margin:7% 0 0; box-sizing:border-box; padding:0 10%;}
#recruitWrap article {width:28%; height: 400px; margin:0 1%; padding:3.6% 0 0; box-sizing: border-box; float:left; transition:0.3s;}
#recruitWrap h4 {display:inline; font-size:2em;}
#recruitWrap article a > p {margin-top:20px; font-size:17px;}

/* recruit배경 */
#recruitWrap div > .art1 {background:#fff url(../images/icon/recruit1.png) no-repeat center 220px;}
#recruitWrap div > .art2 {background:#fff url(../images/icon/recruit2.png) no-repeat center 220px;}
#recruitWrap div > .art3 {background:#fff url(../images/icon/recruit3.png) no-repeat center 220px;}
#recruitWrap div > article.on {border-radius:80px 0 0 0;}
#recruitWrap div > article.on h4 {border-bottom:1px solid #2754b9; color:#2754b9;}






/* ========800이하======== */

@media screen and ( max-width:800px ) {

section h2 {font-size:2em;}
section h3 {font-size:2em;}



/* slideWrap */
#slideWrap {width: 100%; height: 500px;}
#slideWrap ul li {width: 100%; height: 500px; background:no-repeat center center / cover;}
#slideWrap ul li div {top:30%; left:10%; font-size:35px;}

/* slideBtn */
#slideBtn {top:520px; left:calc(50% - 100px); }
#slideBtn a {width: 20px; background:rgba(0, 0, 0, 0.3); transition:0.2s;}
#slideBtn a.on {width:52px;}



/* 메인시작 */
/* brandWrap - article */
#brandWrap {height: 100%;}
#brandWrap > p {font-size:1em; margin:0;}

#articleWrap {width: 100%; height: 200px;}
#articleWrap .dunkin {background:none;}
#articleWrap .baskin {background:none;}

#articleWrap article p {display:none;}
#articleWrap article a {height: 250px; display:block; padding:40px 0; margin:15px 0; }




/* aside */
#popcorn {width: 100%; margin-top:30px;}
.popWrap {width: 100%; overflow:hidden;}





/* 브랜드뉴스 */
#newsWrap {height:100%;}
#newsWrap ul {display:flex; flex-wrap:wrap; width: 400px; height: 100%; margin:0 auto; padding:50px 0 80px;}
#newsWrap ul li {float:none; width: 700px; height: 70px; margin:5px 0;}
#newsWrap ul li > a {opacity:1; width: 100%; height: 100%; margin:0; padding:12px; font-size:1em;}


#newsWrap section > a {bottom:50px;}
#newsWrap section > p {font-size:1em;}

#newsWrap ul li.news1 {background:none;}
#newsWrap ul li.news2 {background:none;}
#newsWrap ul li.news3 {background:none;}








/* brandsns시작 */
#snsTag {width: 100%;}
#snsWrap > p {font-size:1em;}

/* youtube */
#youtube .thumbs {width: 328px; overflow:hidden;}
#youtube ul {width: 1657px;}
#youtube ul li {width: 328px; margin:27px;}
#youtube ul li:nth-of-type(2) img {width: 328px; height: 184px; box-shadow: 1px 5px 10px rgba(0, 0, 0, 0.5); margin-top:0;}

/* recruit */
#recruitWrap {width: 100%; height:500px; padding-bottom:50px;}
#recruitWrap > div {display:block; padding:0; margin:50px 10px;}
#recruitWrap > p {font-size:1em;}
#recruitWrap article {width: 250px; height: 250px; margin:0 5px;}
#recruitWrap h4 {font-family: 'S-CoreDream-2ExtraLight'; font-size:2em;}
#recruitWrap article a > p {display:none;}

#recruitWrap div > .art1 {background:#fff url(../images/icon/recruit1.png) no-repeat center 70% / 45%;}
#recruitWrap div > .art2 {background:#fff url(../images/icon/recruit2.png) no-repeat center 70% / 45%;}
#recruitWrap div > .art3 {background:#fff url(../images/icon/recruit3.png) no-repeat center 70% / 45%;}



}
